<!--Footer -->
<div class="col-md-12 footer-box">

  <div class="row">
    <div class="col-md-4">
      <strong>Localização:
      </strong>
      <hr>
      <p>
        234, New york Street,<br/>
        Just Location, Brasil<br/>
        Call: +09-456-567-890<br>
        Email: ecommerce@yourdomain.com<br>
      </p>

      2014 www.yourdomain.com | All Right Reserved
    </div>
    <div class="col-md-4">
      <strong>Categorias:
      </strong>
      <hr>
      <ul class="footer-menu list-unstyled">
        {include="categories-menu"}
      </ul>
    </div>
    <div class="col-md-4 social-box">
      <strong>M&iacute;dias Sociais:
      </strong>
      <hr>
      <a href="#">
        <i class="fa fa-facebook-square fa-3x "></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter-square fa-3x "></i>
      </a>
      <a href="#">
        <i class="fa fa-google-plus-square fa-3x c"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin-square fa-3x "></i>
      </a>
      <a href="#">
        <i class="fa fa-pinterest-square fa-3x "></i>
      </a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
      </p>
    </div>
  </div>
  <hr>
</div>
<!-- /.col -->
<div class="col-md-12 end-box ">
  &copy; 2014 | &nbsp; All Rights Reserved | &nbsp; www.yourdomain.com | &nbsp; 24x7 support | &nbsp; Email us: info@yourdomain.com
</div>
<!-- /.col -->
<!--Footer end -->
<!--Core JavaScript file -->
<script src="/assets/site/js/jquery-1.10.2.js"></script>
<!--bootstrap JavaScript file -->
<script src="/assets/site/js/bootstrap.js"></script>
<!--Slider JavaScript file -->
<script src="/assets/site/ItemSlider/js/modernizr.custom.63321.js"></script>
</body>

</html>