<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bootstrap E-Commerce Template- DIGI Shop mini</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/site/css/bootstrap.css" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="/assets/site/css/font-awesome.min.css" rel="stylesheet"/>
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="/assets/site/ItemSlider/css/main-style.css" rel="stylesheet"/>
    <!-- custom CSS here -->
    <link href="/assets/site/css/style.css" rel="stylesheet"/>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <strong>DIGI</strong>
            Shop</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
            </li>
            {if="checkLogin(false)"}
            <li>
              <a href="/profile"><span class="glyphicon glyphicon-user"></span>&nbsp;{function="getUserName()"}</a>
            </li>
            <li>
              <a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sair</a>
            </li>
            {else}
            <li>
              <a href="/login">Login</a>
            </li>
            {/if}
            <li>
              <a href="/cart" role="button">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                Carrinho
                <span class="badge">{function="getCartNrQtd()"}</span></a>
            </li>
          </ul>

        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
